@font-face {
   font-family: "Open Sans SemiBold";
   src: url("fonts/Open Sans SemiBold.woff") format("woff"), url("fonts/Open Sans SemiBold.eot") format("embedded-opentype"), url("fonts/Open Sans SemiBold.ttf") format("truetype"), url("fonts/Open Sans SemiBold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans SemiBold";
   src: url("fonts/Open Sans SemiBold Italic.woff") format("woff"), url("fonts/Open Sans SemiBold Italic.eot") format("embedded-opentype"), url("fonts/Open Sans SemiBold Italic.ttf") format("truetype"), url("fonts/Open Sans SemiBold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}